{% extends 'main.html' %}


{% block content %}

<style>

    .main-home {
        width: 96vw;
        height: 100vh;
        display: flex;
    }
    
    .main-home-content {
        width: 100%;
        height: auto;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-home-content-topics {
        width: 100%;
        display: flex;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topic {
        display: flex;
        background: crimson;
        color: white;
        padding: 5px;
        margin: 10px;
        border-radius: 10px;
    }

    .topic a {
        text-decoration: none;
    }

    .topic a:visited {
        color: white;
    }

    .main-home-wrapper {
        background: white;
        padding: 30px;
        border-radius: 20px;
        width: 60%;
        color: #303030;
    }

    .main-home-search-wrapper {
        width: 100%;
        background: pink;
        display: flex;
        justify-content: space-between;
    }

    .main-home-search-wrapper-input {
        width: 600px;

    }
    
</style>

<div class="main-home">
    <div class="main-home-content">
        <div class="main-home-content-topics">
            <div class="topic">
                <a href="{% url 'home' %}">All</a>
            </div>
            {% for topic in topics %}
            <div class="topic">
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
            {% endfor %}
        </div>
        <div class="main-home-wrapper">
            <div class="main-home-search-wrapper">
                <form method="GET" action="{% url 'home' %}">
                    <input class="main-home-search-wrapper-input" type="text" name="q" placeholder="Search Channels...">
                </form>
                <a href="{% url 'create_channel' %}">Create Channel</a>
            </div>
            <h5>{{channel_count}} channels available</h5>
            {% for channel in channels %}
            <div>
                <h1><a href="{% url 'channel' channel.id %}">{{channel.name}}</a></h1>
                <p>@{{channel.host}}</p>
                <p>{{channel.description}}</p>
                {% if request.user == channel.host %}
                <a href="{% url 'update_channel' channel.id %}">Edit</a>
                <a href="{% url 'delete_channel' channel.id %}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}