{% extends 'main.html' %}


{% block content %}

<style>

    .main-home {
        width: 96vw;
        min-height: 100vh;
        display: flex;
    }
    
    .main-home-content {
        width: 100%;
        height: auto;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-home-content-topics {
        width: 100%;
        display: flex;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topic {
        display: flex;
        background: crimson;
        color: white;
        padding: 5px;
        margin: 10px;
        border-radius: 10px;
    }

    .topic a {
        text-decoration: none;
    }

    .topic a:visited {
        color: white;
    }

    .topic a:link {
        color: white;
    }

    .main-home-wrapper {
        padding: 30px;
        border-radius: 20px;
        width: 50%;
        color: #303030;
    }

    .main-home-search-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main-home-search-wrapper form {
        width: 100%;
    }

    .main-home-search-wrapper-input {
        width: 60%;
        border: 1px solid #303030;
        border-radius: 20px;
        height: 40px;
        padding: 0 15px;
    }

    .channel-item {
        background: white;
        margin-top: 30px;
        border-radius: 30px;
        padding: 30px;
    }

    .channel-item-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .channel-item-bottom a {
        text-decoration: none;
    }

    .create-channel-div a {
        color: #303030;
        font-weight: bold;
        text-decoration: none;
    }

</style>

<div class="main-home">
    <div class="main-home-content">
        <div class="main-home-content-topics">
            <div class="topic">
                <a href="{% url 'home' %}">All</a>
            </div>
            {% for topic in topics %}
            <div class="topic">
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
            {% endfor %}
        </div>
        <div class="main-home-wrapper">
            <div class="main-home-search-wrapper">
                <form method="GET" action="{% url 'home' %}">
                    <input class="main-home-search-wrapper-input" type="text" name="q" placeholder="Search Channels...">
                </form>
                <div class="create-channel-div">
                    <a href="{% url 'create_channel' %}">Create Channel</a>
                </div>
            </div>
            <h5>{{channel_count}} channels available</h5>
            {% for channel in channels %}
            <div class="channel-item">
                <h1>{{channel.name}}</h1>
                <div class="channel-item-bottom">
                    <p>created by @{{channel.host}}</p>
                    <a href="{% url 'channel' channel.id %}">Join</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}