<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Project</title>
</head>
<body>
    
    <style>

        main {
            width: 100%;
            height: auto;
            background: #232323;
            display: flex;
            flex-direction: row;
        }

    </style>
    
    
    <main>
        {% include 'sub_navbar.html' %}
    
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
    
        {% endblock %}
    </main>

</body>
</html>