<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <style>

        main {
            width: 100%;
            min-height: 100vh;
            background: #D6D6D6;
        }

    </style>
    
    
    <main>
        {% include 'sub_navbar.html' %}
    
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
    
        {% endblock %}
    </main>

</body>
</html>