<style>

    *, html, body {
        margin: 0;
        padding: 0;
    }

    .channel-bar {
        width: 100%;
        height: 50px;
        background: #171717;
        display: flex;
        align-items: center;
    }

    .channel-bar-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
    }

    .channel-bar-container p {
        margin-right: 30px;
        color: white;
    }

    .channel-bar-container a {
        margin-right: 20px;
        text-decoration: none;
        padding: 5px;
        background: crimson;
    }

    .channel-bar-container a:visited {
        color: white;
    }

    .discord-logo {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    

</style>

<div class="channel-bar">
    <a class="discord-logo" href="/">
        <h6>discord</h6>
    </a>
    <div class="channel-bar-container">
        {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>